<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<httpRuntime requestValidationMode="2.0"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>
	</system.web>
	<connectionStrings>
		<add name="CrawlerDataEntities" connectionString="metadata=res://*/DataAccess.Entities.Model.csdl|res://*/DataAccess.Entities.Model.ssdl|res://*/DataAccess.Entities.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CrawlerData;persist security info=True;user id=sa;password=123456;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<appSettings>
		<!--抓取1天以内的信息，例如：1天以内-->
		<add key="Days" value="2000"/>
	</appSettings>
</configuration>